.showcase {
  padding-bottom: 50px;

  .showcase_top {
    background: #FFE297;
    position: relative;
    overflow: hidden;

    .top_wrapper {
      max-width: 1300px;
      margin: 0 auto;
      background: url("/assets/img/common/showcase_desk_ru.png") center top no-repeat;
      background-size: cover;
      height: 620px;

      .showcase_btn {
        display: none;
      }
    }
  }

  .showcase_bottom {
    background: linear-gradient(0deg, #FFF4D5 0%, #FFE297 100%);

    .bottom_wrapper {
      position: relative;
      max-width: 931px;
      margin: 0 auto;

      .text_block {
        display: flex;

        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #612A12;
        padding-top: 43px;

        .left, .right {
          flex-grow: 1;
          flex-basis: 100%;
        }

        .left {
          margin-right: 29px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .showcase {

    .showcase_top {
      .top_wrapper {
        max-width: 720px;
        height: 400px;
      }
    }

    .showcase_bottom {
      .bottom_wrapper {
        max-width: 720px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .showcase {
    padding: 0;

    .showcase_top {
      .top_wrapper {
        max-width: 100%;
        margin: 0 auto;
        background: url("/assets/img/common/showcase_mob_ru.png") center top no-repeat;
        background-size: cover;
        height: 700px;
        position: relative;

        .showcase_btn {
          position: absolute;
          display: flex;
          margin: 0 auto;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);

        }
      }
    }

    .showcase_bottom {
      .bottom_wrapper {
        .text_block {
          font-size: 14px;
          line-height: 20px;
          padding-top: 36px;
          flex-direction: column;
          max-width: 296px;
          margin: 0 auto;

          .left, .right {
            flex-grow: 1;
            flex-basis: 100%;
          }

          .left {
            margin-right: 0;
            margin-bottom: 23px;
          }
        }
      }
    }
  }
}