.btn_orange {
  width: 260px;
  height: 48px;
  font-size: 24px;
  line-height: 1;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid $white;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgba(255, 112, 0, 0.5);
  transition: all 0.3s;
  background: linear-gradient(180deg, #FF7F00 0%, #FF5A19 100%),
  linear-gradient(0deg, #FF7F00, #FF7F00);

  &:hover {
    background: linear-gradient(0deg, #FF5C17, #FF5C17);
    box-shadow: 0px 4px 5px rgba(255, 112, 0, 0.5);
  }
}

.btn_green {
  width: 260px;
  height: 48px;
  font-size: 24px;
  line-height: 1;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid $white;
  border-radius: 30px;
  box-sizing: border-box;
  transition: all 0.3s;
  background: linear-gradient(180deg, #BECD29 0%, #62A327 100%);
  box-shadow: 0px 8px 10px rgba(98, 163, 39, 0.5);

  &:hover {
    background: linear-gradient(180deg, #4A8D03 100%, #4A8D03 100%);
    box-shadow: 0px 4px 5px rgba(98, 163, 39, 0.5);
  }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

}